* {
    color: rgb(200, 200, 200);
}

textarea {
    resize: none;
}

.bg-darkblue {
    background-color: #081B29;
}

.bg-cyan {
    background-color: #00ABF0;
}

.text-cyan {
    color: #00ABF0 !important;
}

.pantalla {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bajarFooter {
    flex-grow: 1;
}

.imgBanner {
    object-fit: cover;
    height: 500px;
}

.pos-sticky {
    position: sticky;
    top: 20px;
}

.activeLink {
    color: #00ABF0;
    font-weight: 600;
}

.fs-7 {
    font-size: 0.7rem;
}

.aboutUS--Card {
    max-height: 250px;
}

.form--ingreso {
    width: 40%;
}

.image--error {
    width: 100%;
    height: 40vh;
}

/* estilos seccion noticias */
.imagen-c{
max-width: 600px;
margin: auto;
}
.imagen-n-c{
    max-width: 100%;
    height: auto;
}
.Contenedor-noticias h1 {
    color: #00ABF0;
    margin-top: 20px;
}

.not-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 30px;
}

.noticias-card {
    overflow: hidden;
    width: 400px;
    height: 600px;
    border: 2px solid #00ABF0;
    margin: 10px 10px;
    border-radius: 10px;
}

.card-titulo,
a {
    font-size: 1rem;
}

.card-img-noticia {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 60%;
}

.card-img-noticia img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}


.card-body-noticia {
    text-align: center;
    width: 100%;
    min-height: 40%;
    background-color: #282828;
}

.noticias-descripcion {
    font-size: 1.1rem;
}

.noticias-titulo {
    font-size: 1.1rem;
    color: #00ABF0;
    max-height: 23%;
}

.noticias-autor {
    font-size: 1.1rem;
}

.cards-body {
    justify-self: end;
}

.modal-bg {
    background-color: #272222;
}

.btn-admi-table-publi {
    max-width: 50%;
}

.container-descripcion p {
    max-height: 100%;
}

iframe {
    max-width: 100% !important;
}

.card-imagen-detalle-noticia{
    border-top-left-radius: 5%;
    border-bottom-right-radius: 10%;
}

/* estilos seccion noticias */
/* media queries */
@media all and (max-width:576px) {
    .noticias-card {
        background-color: #fff;
        width: 500px;
        height: 640px;
        border: 2px solid #00ABF0;
        margin: 20px 10px;
        border-radius: 10px;
    }

    .aboutUS--Card {
        max-height: 190px;
    }

}

@media all and (max-width:768px) {
    .m-footer {
        margin: 25px 0px;
    }

    .imgBanner {
        object-fit: cover;
        height: 200px;
    }

    .form--ingreso {
        width: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .imgBanner {
        object-fit: cover;
        height: 300px;
    }
}


@Media print {
    .column-funciones {
        display: none;
    }
}