*{
    color: rgb(200, 200, 200);
}

.bg-darkblue{
    background-color: #081B29;
}

.text-cyan{
    color: #00ABF0;
}

.pantalla{
    background-color: #292929;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bajarFooter{
    flex-grow: 1;
}

.imgBanner{
    object-fit: cover;
    height: 500px;
}

/* media queries */

@media all and (max-width:767px){
    .m-footer{
        margin: 25px 0px;
    }
    .imgBanner{
        object-fit: cover;
        height: 200px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px){
    .imgBanner{
        object-fit: cover;
        height: 300px;
    }
}